/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

/* VARIABLES */
:root {
    --white: #fff;
    --gray-shade: #212529;
    --gradient-red: #ffa8a8;
    --gradient-indigo: #91a7ff;
    --shadow-sm: rgba(0, 0, 0, 0.2);
}

/* GENERAL SELECTORS */
* {
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    color: var(--white);
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    height: 100vh;
    background: linear-gradient(to left top, var(--gradient-red), var(--gradient-indigo));
}

/* CONFIRMATION POPUP DIV */
.div-confirmation-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    z-index: 2;
}

.hide-up {
    transform: translateY(-100%) !important;
}

/* CONFIRMATION POPUP CONTENT DIV */
.div-confirmation-popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    width: 64rem;
    height: 24rem;
    text-align: center;
    border-radius: 0.4rem;
    transform: translate(-50%, -50%);
}

.div-confirmation-popup-content::before,
.div-confirmation-popup-content::after {
    content: "";
    position: absolute;
    top: 0;
    width: 0.2rem;
    height: inherit;
    background-color: var(--white);
}

.div-confirmation-popup-content::before {
    left: 0;
    border-radius: 0 0.4rem 0.4rem 0;
}

.div-confirmation-popup-content::after {
    right: 0;
    border-radius: 0.4rem 0 0 0.4rem;
}

.div-confirmation-popup-content h2 {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    font-size: 4.8rem;
    font-weight: 600;
}

.div-confirmation-popup-content ion-icon {
    font-size: 6.4rem;
}

.div-confirmation-popup-content button {
    all: unset;
    display: inline-block;
    width: 18rem;
    padding: 0.8rem 0;
    font-size: 2rem;
    font-weight: 500;
    background: linear-gradient(to right bottom, var(--gradient-red), var(--gradient-indigo));
    border-radius: 0.4rem;
    cursor: pointer;
}

/* GAME HISTORY POPUP DIV */
.div-game-history-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    z-index: 2;
}

/* CLOSE POPUP BUTTON */
.btn-close-popup {
    all: unset;
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    transition: all 0.5s;
    cursor: pointer;
}

.btn-close-popup:hover {
    transform: translateY(-0.4rem);
    opacity: 0.5;
}

.btn-close-popup ion-icon {
    font-size: 3.2rem;
}

/* SCORE HISTORY CONTAINER DIV */
.div-game-history-popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 64rem;
    transform: translate(-50%, -50%);
}

.div-game-history-popup-content h3 {
    font-size: 2.4rem;
    font-weight: 500;
    text-align: center;
}

/* SCORE HISTORY LIST */
.score-history-list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    height: calc((5 * 4.8rem) + (4 * 1.2rem));
    border-radius: 0.4rem;
    list-style: none;
    overflow-y: scroll;
}

.score-history-list::-webkit-scrollbar {
    display: none;
}

.score-history-list-item {
    flex-shrink: 0;
    display: inherit;
    align-items: center;
    justify-content: space-between;
    height: 4.8rem;
    padding: 0 1.2rem;
    font-size: 1.6rem;
    box-shadow: inset 0 0 0 0.2rem var(--white);
    border-radius: inherit;
}

.score-history-list-item div {
    display: inherit;
    gap: 0.8rem;
}

/* POPUP OVERLAY */
.div-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--shadow-sm);
    backdrop-filter: blur(0.8rem);
    transition: transform 1s;
    z-index: 1;
}

.hide-down {
    transform: translateY(100%) !important;
}

/* MAIN CONTAINER */
.main-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100%;
}

.main-container::after {
    content: "";
    position: absolute;
    left: 50%;
    width: 0.2rem;
    height: 100%;
    background-color: var(--white);
    transform: translateX(-50%);
}

.main-container > section {
    position: relative;
}

/* DASHBOARD HEADER */
.dashboard-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem;
}

.div-dashboard-header-logo {
    display: inherit;
    align-items: inherit;
    gap: 0.4rem;
}

.dashboard-header img {
    height: 3.2rem;
}

.dashboard-header h1 {
    font-size: 2.4rem;
}

/* VIEW GAME HISTORY BUTTON */
.dashboard-header button {
    all: unset;
    display: inherit;
    align-items: inherit;
    justify-content: center;
    width: 3.2rem;
    aspect-ratio: 1 / 1;
    background: linear-gradient(to left top, var(--gradient-red), var(--gradient-indigo));
    border-radius: 50%;
    transition: opacity 0.5s;
    cursor: pointer;
}

.dashboard-header button:hover {
    opacity: 0.5;
}

.dashboard-header ion-icon {
    font-size: 1.6rem;
}

/* LEADERBOARD DIV */
.div-leaderboard {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 48rem;
    border-radius: 0.4rem;
    transform: translate(-50%, -50%);
}

/* LEADERBOARD HEADER */
.leaderboard-header {
    text-align: center;
}

.leaderboard-header h2 {
    font-size: 3.2rem;
}

.leaderboard-header p {
    font-size: 2rem;
}

/* SCOREBOARD CONTAINER DIV */
.div-scoreboard-container > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

/* SCORE CONTAINER DIV */
.div-score-container p {
    font-size: 9.6rem;
}

.div-score-container img {
    height: 6.4rem;
}

/* SCORE LABELS CONTAINER DIV */
.div-score-labels-container ion-icon {
    font-size: 4.4rem;
}

/* GAME-BOARD CONTAINER DIV */
.div-game-board-container {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    transform: translate(-50%, -50%);
}

/* GAME-BOARD HEADER */
.game-board-header {
    display: inherit;
    align-items: center;
    justify-content: space-between;
}

.game-board-header p {
    position: relative;
    font-size: 2rem;
}

.game-board-header p::after {
    content: "";
    position: absolute;
    bottom: -0.4rem;
    left: 0;
    width: 6.4rem;
    height: 0.2rem;
    background-color: var(--white);
    border-radius: 0.4rem 0.4rem 0 0;
}

.game-board-header ion-icon {
    font-size: 3.2rem;
}

/* GAME-BOARD DIV */
.div-game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
    width: fit-content;
}

.div-game-square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    aspect-ratio: 1 / 1;
    color: var(--white);
    background: linear-gradient(to right top, var(--gradient-red), var(--gradient-indigo));
    box-shadow: inset 0 0 0 0.2rem var(--white);
    border-radius: 0.4rem;
    cursor: pointer;
}

.div-game-square ion-icon {
    font-size: 8rem;
    color: inherit;
}
