/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

/* VARIABLES */
:root {
}

/* GENERAL SELECTORS */
* {
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    height: 100vh;
}

/* MAIN CONTAINER */
.main-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100%;
}

.main-container > section {
    position: relative;
}

/* DASHBOARD SECTION */
.section-dashboard {
}

/* GAME-BOARD SECTION */
.section-game-board {
}

/* GAME-BOARD CONTAINER DIV */
.div-game-board-container {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    transform: translate(-50%, -50%);
}

/* GAME-BOARD HEADER */
.game-board-header {
    display: inherit;
    align-items: center;
    justify-content: space-between;
}

.game-board-header p {
    font-size: 2rem;
}

.game-board-header span {
    font-size: 2.4rem;
    font-weight: 600;
}

/* GAME-BOARD DIV */
.div-game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.8rem;
    width: fit-content;
}

.div-game-square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    color: white;
    background-color: black;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.div-game-square ion-icon {
    font-size: 8rem;
    color: inherit;
}
