/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

/* VARIABLES */
:root {
    --white: #fff;
    --gray-shade: #212529;
    --gradient-red: #ffa8a8;
    --gradient-indigo: #91a7ff;
}

/* GENERAL SELECTORS */
* {
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    color: var(--white);
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    height: 100vh;
    background: linear-gradient(to left top, var(--gradient-red), var(--gradient-indigo));
}

/* MAIN CONTAINER */
.main-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100%;
}

.main-container::after {
    content: "";
    position: absolute;
    left: 50%;
    width: 0.2rem;
    height: 100%;
    background-color: var(--white);
    transform: translateX(-50%);
}

.main-container > section {
    position: relative;
}

/* DASHBOARD SECTION */
.section-dashboard {
}

/* GAME-BOARD SECTION */
.section-game-board {
}

/* GAME-BOARD CONTAINER DIV */
.div-game-board-container {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    transform: translate(-50%, -50%);
}

/* GAME-BOARD HEADER */
.game-board-header {
    display: inherit;
    align-items: center;
    justify-content: space-between;
}

.game-board-header p {
    position: relative;
    font-size: 2rem;
}

.game-board-header p::after {
    content: "";
    position: absolute;
    bottom: -0.4rem;
    left: 0;
    width: 6.4rem;
    height: 0.2rem;
    background-color: var(--white);
    border-radius: 0.4rem 0.4rem 0 0;
}

.game-board-header span {
    font-size: 2.4rem;
    font-weight: 600;
}

/* GAME-BOARD DIV */
.div-game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
    width: fit-content;
}

.div-game-square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    color: var(--white);
    background: linear-gradient(to right top, var(--gradient-red), var(--gradient-indigo));
    box-shadow: inset 0 0 0 0.2rem var(--white);
    border-radius: 0.4rem;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.div-game-square ion-icon {
    font-size: 8rem;
    color: inherit;
}
